.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    transition: var(--transition);
    padding: 0.25rem 1rem;
    border-radius: var(--radius);
    text-transform: capitalize;
}
.item:hover {
    color: var(--clr-grey-5);
    background: var(--clr-grey-10);
}
.item:hover .title {
    color: var(--clr-grey-5);
}
.title {
    margin-bottom: 0;
    color: var(--clr-grey-1);
    letter-spacing: 2px;
    transition: var(--transition);
}
.edit-btn,
.delete-btn {
    background: transparent;
    border-color: transparent;
    cursor: pointer;
    font-size: 0.7rem;
    margin: 0 0.15rem;
    transition: var(--transition);
}
.edit-btn {
    color: var(--clr-green-light);
}
.edit-btn:hover {
    color: var(--clr-green-dark);
}
.delete-btn {
    color: var(--clr-red-light);
}
.delete-btn:hover {
    color: var(--clr-red-dark);
}
